category	filename	copies
C kategória	C_szabalyzat.pdf	1
C kategória	17HC.pdf	3
C kategória	17HC_vl.pdf	1
D kategória	D_szabalyzat.pdf	1
D kategória	17HD.pdf	3
D kategória	17HD_vl.pdf	1
E kategória	E_szabalyzat.pdf	1
E kategória	17HE.pdf	1
E+ kategória	Ep_szabalyzat.pdf	1
E+ kategória	17HEp.pdf	3
F kategória	F_szabalyzat.pdf	1
F kategória	17HF.pdf	1
F+ kategória	Fp_szabalyzat.pdf	1
F+ kategória	17HFp.pdf	1
K kategória	K_szabalyzat.pdf	1
K kategória	17HK.pdf	1
K kategória	17HKKp_cikk.pdf	1
K+ kategória	Kp_szabalyzat.pdf	1
K+ kategória	17HKp.pdf	1
K+ kategória	17HKKp_cikk.pdf	1
L kategória	L_szabalyzat.pdf	1
L kategória	17HL.pdf	1
L kategória	17HKKp_cikk.pdf	1
C kategória	samples/1page.pdf	1
C kategória	samples/1page.pdf	1
D kategória	samples/2page.pdf	1
E+ kategória	samples/3page.pdf	1
E+ kategória	samples/2page.pdf	1
F kategória	samples/letter-size.pdf	1