Rövidített csapatnév (helyszín, terem)	Kategória	Helyszín
Csapat 1 C (Budapest)	C kategória	Budapest
Csapat 2 C (Budapest)	C kategória	Budapest
Csapat 3 D (Budapest)	D kategória	Budapest
Csapat 4 D (Budapest)	D kategória	Budapest
Csapat 5 E+ (Budapest)	E+ kategória	Budapest
Csapat 6 E+ (Budapest)	E+ kategória	Budapest